echo "# Byte-compiled files" > .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "" >> .gitignore
echo "# Virtual Environment" >> .gitignore
echo ".venv/" >> .gitignore
echo "venv/" >> .gitignore
echo "" >> .gitignore
echo "# IDE" >> .gitignore
echo ".idea/" >> .gitignore